{% extends "base_generic.html" %}
{% block title %}<title>Index Page</title>{% endblock %}
{% block content %}
{% if user.is_authenticated%}

  <h1>Local Library Home</h1>
  <p>Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network</em>!</p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
  </ul><p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
  {% else %}
  <div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Local Library <i class="fas fa-globe-americas"></i></h1>
        <p class="lead">This is a simple Local Library management platform, log in to get statrted!</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Log In</a>
    </div>
  </div>
  {% endif %}
{% endblock %}

